<a href="https://colab.research.google.com/github/ampig2020/Osas.usep.edu.github.io/blob/main/Data_Science_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas for Data Science**

In [4]:
import pandas as pd
import csv
print(pd)

<module 'pandas' from '/usr/local/lib/python3.8/dist-packages/pandas/__init__.py'>

In [21]:
df = pd.read_csv('/content/airlines.csv')
df.head()

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,-1,Unknown,\N,-,NaN,\N,\N,Y
1,1,Private flight,\N,-,NaN,NaN,NaN,Y
2,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N

In [22]:
df.describe

<bound method NDFrame.describe of       Airline ID                                          Name  \
0             -1                                       Unknown
1              1                                Private flight
2              2                                   135 Airways
3              3                                 1Time Airline
4              4  2 Sqn No 1 Elementary Flying Training School
...          ...                                           ...
6157       21248                                   GX Airlines
6158       21251                        Lynx Aviation (L3/SSX)
6159       21268                               Jetgo Australia
6160       21270                                  Air Carnival
6161       21317                                 Svyaz Rossiya

                  Alias IATA ICAO         Callsign         Country Active
0                    \N    -  NaN               \N              \N      Y
1                    \N    -  NaN              NaN             NaN      Y
2                    \N  NaN  GNL          GENERAL   United States      N
3                    \N   1T  RNX          NEXTIME    South Africa      Y
4                    \N  NaN  WYT              NaN  United Kingdom      N
...                 ...  ...  ...              ...             ...    ...
6157                NaN  NaN  CBG            SPRAY           China      Y
6158                NaN  NaN  SSX           Shasta   United States      N
6159                NaN   JG   \N              NaN       Australia      Y
6160                NaN   2S   \N              NaN           India      Y
6161  Russian Commuter    7R  SJM  RussianConnecty          Russia      Y

[6162 rows x 8 columns]>